<h1>Alteração de Segmentação</h1>

<%= render 'form', segmentation: @segmentation %>

<br/>

<%= link_to 'Mostrar', @segmentation, :class => "waves-effect waves-light btn" %> |
<%= link_to 'Voltar', segmentations_path, :class => "waves-effect waves-light btn" %>
