<h1>Alteração de Contato</h1>

<%= render 'form', contact: @contact %>

<br/>

<%= link_to 'Mostrar', @contact, :class => "waves-effect waves-light btn" %> |
<%= link_to 'Voltar', contacts_path, :class => "waves-effect waves-light btn" %>
