<%= content_for :head_css_after do %>
  <style>
    .card .card-content .fa {
      font-size: 7em;
      padding: 0.1em 0 0.1em 0;
    }

    .card-content .fa {
      color: white;
    }
  </style>
<% end %>

<div class="row">
  <div class="col s12 m6 l6">
    <a href="/contacts">
      <div class="card medium blue-grey darken-1">
        <div class="card-content white-text">
          <h5 class="center-align">
            <i class="fa fa-users"></i>
          </h5>
          <span class="card-title">Contatos</span>
          <p>Administração de contatos.</p>
        </div>
        <div class="card-action">
          <a href="/contacts">Contatos</a>
        </div>
      </div>
    </a>
  </div>
  <div class="col s12 m6 l6">
    <a href="/segmentations">
      <div class="card medium blue-grey darken-1">
        <div class="card-content white-text">
          <h5 class="center-align">
            <i class="fa fa-tags"></i>
          </h5>
          <span class="card-title">Segmentações</span>
          <p>Administração das segmentações de contatos.</p>
        </div>
        <div class="card-action">
          <a href="/segmentations">Segmentações</a>
        </div>
      </div>
    </a>
  </div>
</div>