<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <a href="/">
          <h5 class="white-text">Ramanujan</h5>
        </a>
        <p class="grey-text text-lighten-4">Simplificando suas segmentações de contatos.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/">Início</a></li>
          <li><a class="grey-text text-lighten-3" href="/contacts">Contatos</a></li>
          <li><a class="grey-text text-lighten-3" href="/segmentations">Segmentações</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/Danilo-Araujo-Silva/Ramanujan" target="_blank">Projeto no GitHub</a></li>
          <li><a class="grey-text text-lighten-3" href="https://ramanujan.herokuapp.com/" target="_blank">Projeto no Heroku</a></li>
          <li><a class="grey-text text-lighten-3" href="https://goo.gl/XW7hi3" target="_blank">Sobre o autor</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 <a href="https://goo.gl/XW7hi3" target="_blank">Danilo Araújo Silva</a>
    <a class="grey-text text-lighten-4 right" href="https://goo.gl/XW7hi3" target="_blank">Sobre o autor</a>
    </div>
  </div>
</footer>