<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Ramanujan</a>
    <a href="#" data-activates="mobile" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/contacts">Contatos</a></li>
      <li><a href="/segmentations">Segmentações</a></li>
    </ul>
    <ul class="side-nav" id="mobile">
      <li><a href="/contacts">Contatos</a></li>
      <li><a href="/segmentations">Segmentações</a></li>
    </ul>
  </div>
</nav>